@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-nunito;
}

/* Default Light Mode Styles */
html {
  @apply bg-white text-black transition-colors duration-300 scroll-smooth font-nunito;
}

/* Dark Mode Styles */
html.dark {
  @apply bg-black text-white transition-colors duration-300 scroll-smooth font-nunito;
}

@layer components {
  .button {
    @apply px-10 py-2 text-xl text-black font-bold max-w-max;
  }

  .bg-landing {
    background-attachment: fixed;
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url(/landing.jpg);
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }
}




  .title-1 {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
  }

  .title-2 {
    font-size: 32px;
    color: #db7f67;
    font-weight: 700;
  }

  .subtext-1{
    font-size:20px;
    color: #FFFFFF;
    font-weight: 500;
  }
  



  @media (min-width: 640px) {
    .title-1 {
      font-size: 40px;
    }
    .title-2 {
      font-size: 60px;
    }
    .subtext-1 {
      font-size: 60px;
    }
  }
  
  
  @media (min-width: 768px) {
    .title-1 {
      font-size: 25px;
    }
    .title-2 {
      font-size: 35px;
    }
    .subtext-1 {
      font-size: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .title-1 {
      font-size: 40px;
    }
    .title-2 {
      font-size: 50px;
    }
    .subtext-1 {
      font-size: 24px;
    }
  }
  

  .button-bg {
    background: #db7f67;
  }


  body {
    margin: 0;
    min-height: 3000px;
    font-family: 'Montserrat', sans-serif;
  }
  .outer-container {
    max-width: 600px;
    margin: auto;
    width: 90%;
    padding: 200px 0px;
    position: relative;
  }
  
  .image-container {
    padding-bottom:(1/1) * 100%;
    background: black;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-size: cover;
    background-position: center;
  }
  
  .section-title {
    margin: 0;
    font-size: 64px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    z-index: 1;
    white-space: nowrap;
    
    &.on-dark {
      color: white;
    }
    
    span {
      position: relative;
      display: block;
    }
  }

  
